header {
  background-color: #C6CCCB;
  font-family: "Roboto Slab", serif;
  font-weight: 200;
  opacity: 50%;
  display: flex;
  height: 100%;
  align-items: center;
  grid-row: 1;
  grid-column: span 12;
}

nav {
  grid-row: 10/span footer;
  grid-column: span 12;
}

main {
  background-color: rgba(119, 193, 230, 0.5);
  border-radius: 20px;
  margin: 10px 10px;
  position: relative;
  display: grid;
  grid-row: 2/span 8;
  grid-column: 2/span 10;
}

footer {
  background-color: #021D40;
  color: #E6EFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: footer;
  grid-column: span 12;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(11, 1fr) [footer] 0.5fr;
  height: 100vh;
}

#mainBackgroundImg {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -5;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.nav__grid {
  display: grid;
  grid-template-rows: [selection] 40% [input] 30% [search-options] 30%;
  height: 100%;
  width: 100%;
}

#locationSelection {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  background-color: white;
  grid-row: selection;
  width: 100%;
  height: 100%;
}

.locationRadioWrapper {
  background-image: none;
  background-size: 150%;
  background-position: -14px -20px;
  font-family: "Roboto Slab", serif;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 2px solid black;
  border-bottom: 0px;
  position: relative;
  padding: 5px 5px 0px 5px;
  margin: 0 5px;
  top: 50%;
  height: 100%;
  z-index: 0;
  transition: background-color 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
}
.locationRadioWrapper input {
  display: none;
}
.locationRadioWrapper button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  padding-bottom: 15px;
  font-size: 0.6em;
  font-weight: bolder;
  z-index: -1;
  background-color: #CACBE0;
  border: none;
  border-top: 2px solid black;
  text-align: center;
}

.locationRadioWrapper::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: -1;
}

.locationRadioWrapper.checked {
  background-color: #1018c2;
  top: 0%;
}

#locationInputDiv {
  display: flex;
  grid-row: input;
  background-color: #cacbe0;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

#locationSearchType {
  display: flex;
  grid-row: search-options;
  background-color: #cacbe0;
  justify-content: center;
  align-items: center;
}
#locationSearchType input {
  display: none;
}
#locationSearchType label {
  border-radius: 10px;
  padding: 5px;
  margin: 0 5px;
  background-color: #1018C2;
}
#locationSearchType input:checked ~ label {
  background-color: #EBD686;
}

h1 {
  font-size: 5vw;
  width: 100%;
  text-align: center;
}