header {
  background-color: #021D40;
  font-family: "Roboto Slab", serif;
  font-weight: 200;
  opacity: 50%;
  color: #E6EFFF;
  height: 100%;
  align-items: center;
  display: flex;
  grid-row: 1;
  grid-column: span 12;
}

nav {
  grid-row: 10/span footer;
  grid-column: span 12;
  width: 100%;
}

main {
  background-color: rgba(119, 193, 230, 0.5);
  border-radius: 20px;
  border: 2px inset #181436;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 10px 10px;
  grid-row: 2/span 8;
  grid-column: 2/span 10;
}

main:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
  background-image: url(./Assets/bg.jpg);
  opacity: 0.5;
}

footer {
  background-color: #021D40;
  color: #E6EFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: footer;
  grid-column: span 12;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(11, 1fr) [footer] 0.5fr;
  height: 100vh;
}

button:hover {
  background-color: #EBD686;
  cursor: pointer;
}

#mainBackgroundImg {
  position: fixed;
  height: 105%;
  width: 105%;
  z-index: -5;
  left: -2%;
  object-fit: cover;
  filter: blur(6px);
  -webkit-filter: blur(6px);
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav__grid {
  display: grid;
  grid-template-rows: [selection] 40% [input] 30% [search-options] 30%;
  height: 100%;
  width: 100%;
}

#locationSelection {
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  background-color: rgba(255, 255, 255, 0);
  grid-row: selection;
  height: 100%;
}

#locationSelection::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
  border-bottom: 2px solid #021D40;
  top: -2px;
}

.locationRadioWrapper {
  background-image: none;
  background-size: 150%;
  background-position: -14px -20px;
  font-family: "Roboto Slab", serif;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 2px solid #021D40;
  border-bottom: 0px;
  position: relative;
  padding: 5px 5px 0px 5px;
  margin: 0 5px;
  top: 50%;
  height: 100%;
  z-index: 0;
  transition: background-color 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  cursor: pointer;
}
.locationRadioWrapper input {
  display: none;
}
.locationRadioWrapper button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  padding-bottom: 15px;
  font-size: 0.6em;
  font-weight: bolder;
  z-index: -1;
  border: none;
  border-top: 2px solid black;
  text-align: center;
}
.locationRadioWrapper button:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
  background-image: url(./Assets/bg.jpg);
  background-attachment: fixed;
  opacity: 0.5;
  z-index: -1;
  pointer-events: none;
}

.locationRadioWrapper::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: -2;
}

.locationRadioWrapper.checked {
  background-color: #1018c2;
  top: 0%;
}

#locationInputDiv {
  position: relative;
  grid-row: input;
  display: flex;
  z-index: 5;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #cacbe0;
}
#locationInputDiv input {
  border: 2px ridge #021D40;
}

#locationInputDiv::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
  background-image: url(./Assets/bg.jpg);
  background-attachment: fixed;
  opacity: 0.5;
  z-index: -2;
}

#locationSearchType {
  grid-row: search-options;
  position: relative;
  display: flex;
  z-index: 5;
  justify-content: center;
  align-items: center;
  background-color: #cacbe0;
}
#locationSearchType input {
  display: none;
}
#locationSearchType label {
  padding: 5px;
  margin: 0 5px;
  border-radius: 10px;
  border: 2px ridge #021D40;
  background-color: #77C1E6;
  transition: background-color 0.5s ease-out;
  color: #181436;
  cursor: pointer;
}
#locationSearchType input:checked ~ label {
  background-color: #EBD686;
}

#locationSearchType::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
  background-image: url(./Assets/bg.jpg);
  background-attachment: fixed;
  opacity: 0.5;
  z-index: -2;
}

#main__grid-daily {
  transform: translate(-100vw, 0);
  transition: transform 1s ease-out;
  height: 100%;
  width: 75%;
  position: absolute;
  display: grid;
  grid-template-rows: [cityName] 1fr [date] 1fr [header] 3fr 1fr 2fr [end] 1fr;
  grid-template-columns: [start] 1fr 1fr 1fr 1fr 1fr [end];
}
#main__grid-daily #weatherDate {
  font-size: 3vw;
  text-align: center;
  grid-row: date;
  grid-column: 2/span 3;
}
#main__grid-daily #weatherLocation {
  font-size: 3em;
  display: flex;
  text-align: center;
  justify-content: center;
  grid-row: cityName;
  grid-column: 2/span 3;
}
#main__grid-daily #weatherTemperature {
  grid-row: header;
  grid-column: 2/span 2;
  display: flex;
  font-size: 15vw;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#main__grid-daily #weatherIcon {
  align-self: center;
  width: 100%;
  grid-column: 4;
}
#main__grid-daily .daily-extra {
  grid-row: 5;
  font-size: 2vw;
  text-align: center;
}
#main__grid-daily .daily-extra span {
  font-size: 3vw;
}
#main__grid-daily #weatherHumidity {
  grid-column: 2;
}
#main__grid-daily #weatherWindSpeed {
  grid-column: 4;
}
#main__grid-daily #weatherUVI {
  grid-column: 3;
}
#main__grid-daily #uvslider {
  appearance: none;
  background-size: 100%;
  width: 100%;
  height: 20px;
  background-image: url(./Assets/uv-index-visual.png);
  border: 2px inset #021D40;
  border-radius: 10px;
  pointer-events: none;
}
#main__grid-daily #uvslider::-webkit-slider-thumb {
  appearance: none;
  height: 20px;
  width: 10%;
  border: 2px solid #021D40;
  border-top: none;
  border-bottom: none;
  border-radius: 3px;
  left: 0;
}
#main__grid-daily button {
  grid-row: end;
  grid-column: 2/span 3;
  border-radius: 15px;
  font-size: 3vw;
  font-family: "Alata", sans-serif;
  margin-bottom: 15px;
}

#main__grid-weekly {
  position: absolute;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.5fr [day1] 1fr [day2] 1fr [day3] 1fr [day4] 1fr [day5] 1fr 0.5fr;
  height: 100%;
  width: 90%;
  transform: translate(100vw, 0);
  transition: transform 1s ease-out;
}
#main__grid-weekly button {
  grid-row: 1;
  height: 30%;
  margin-right: 20%;
  align-self: center;
}
#main__grid-weekly .grid-weeklyDay {
  border-left: 1px dotted black;
  text-align: center;
  display: grid;
}
#main__grid-weekly .weekly-date {
  font-size: 4vw;
}
#main__grid-weekly .weekly-temp {
  font-size: 4vw;
}
#main__grid-weekly .weekly-humidity {
  font-size: 3.5vw;
}
#main__grid-weekly #weeklyDay1 {
  grid-column: day1;
}
#main__grid-weekly #weeklyDay2 {
  grid-column: day2;
}
#main__grid-weekly #weeklyDay3 {
  grid-column: day3;
}
#main__grid-weekly #weeklyDay4 {
  grid-column: day4;
}
#main__grid-weekly #weeklyDay5 {
  grid-column: day5;
}

#main__grid-weekly.main-active {
  transform: translate(0);
}

#main__grid-daily.main-active {
  transform: translate(0);
}

h1 {
  font-size: 5vw;
  width: 100%;
  text-align: center;
}

@keyframes button-confirm {
  0% {
    background-color: red;
  }
  100% {
    background-color: #1018C2;
  }
}