// SCSS Colors
$color-header : #C6CCCB;
$color-nav: blue;
$color-main: blue;
$color-footer: blue;

// ANCHOR Base

header {
    display: flex;
    height: 100%;
    align-items: center;
    // Grid
    grid-row: 1;
    grid-column: span 12;
    background-color: $color-header;
}

nav {
    grid-row: 10 / span footer;
    grid-column: span 12;
    background-color: green;
}

main {
    grid-row: 2 / span 8;
    grid-column: span 12;
    background-color: red;

}

footer {
    grid-row: footer;
    grid-column: span 12;
    background-color: orange;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(11, 1fr) [footer] 1fr;
    height: 100vh;
}

// ANCHOR Styling

h1 {
    font-size: 5vw;
    width: 100%;
    text-align: center;
}

// Navbar

