// SCSS Colors
$color-header : #C6CCCB;
$color-nav: #CACBE0;
$color-main: #39A8A5;
$color-footer: #021D40;
$color-clickable: #1018C2;

$color-light: #E6EFFF;
$color-dark: #181436;
$color-sky: #77C1E6;
$color-sun: #EBD686;
$color-veryblue: #061599;

$font-alata: 'Alata', sans-serif;
$font-roboto-slab: 'Roboto Slab', serif;

@mixin pseudo-element {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
}

@mixin striped-bg {
    background-image: url(./Assets/bg.jpg);
    background-attachment: fixed;
    opacity: 0.5;
}

// ANCHOR Base, Grid, Layout

header {
    // Style
    background-color: $color-footer;
    font-family: $font-roboto-slab;
    font-weight: 200;
    opacity: 50%;
    color: $color-light;
    // Layout
    height: 100%;
    align-items: center;
    // Grid
    display: flex;
    grid-row: 1;
    grid-column: span 12;
}

nav {
    // Grid
    grid-row: 10 / span footer;
    grid-column: span 12;
    // Style
    width: 100%;
}

main {
    // Style
    background-color: rgba($color: $color-sky, $alpha: 0.5);
    border-radius: 20px;
    border: 2px inset $color-dark;
    // Position
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 10px 10px;
    // Grid 
    grid-row: 2 / span 8;
    grid-column: 2 / span 10;
}

main:before {
    @include pseudo-element;
    background-image: url(./Assets/bg.jpg);
    opacity: 0.5;
}

footer {
    // Style
    background-color: $color-footer;
    color: $color-light;
    display: flex;
    justify-content: center;
    align-items: center;
    // Grid
    grid-row: footer;
    grid-column: span 12;
}


.container {
    // Grid
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(11, 1fr) [footer] 0.5fr;
    height: 100vh;
}

// Other Main Stuff

button:hover {
    background-color: $color-sun;
    cursor: pointer;
}

#mainBackgroundImg {
    // Layout
    position: fixed;
    height: 105%;
    width: 105%;
    z-index: -5;
    left: -2%;
    object-fit: cover;
    // Style
    filter: blur(6px);
    -webkit-filter: blur(6px);

    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

// ANCHOR Navbar and Nav Grid

.nav__grid {
    // Grid
    display: grid;
    grid-template-rows: [selection] 40% [input] 30% [search-options] 30%;
    height: 100%;
    width: 100%;
}

// TODO fix responsiveness on small screen with locationselection
#locationSelection {
    // Style
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba($color: white, $alpha: 0.0);
    // Grid
    grid-row: selection;
    height: 100%;
}

#locationSelection::before {
    @include pseudo-element;
    border-bottom: 2px solid $color-footer;
    top: -2px;
}

.locationRadioWrapper {
    // Background
    background-image: none;
    background-size: 150%;
    background-position: -14px -20px;
    // Style
    font-family: $font-roboto-slab;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 2px solid $color-footer;
    border-bottom: 0px;
    
    // Layout
    position: relative;
    padding: 5px 5px 0px 5px;
    margin: 0 5px;
    top: 50%;
    height: 100%;
    z-index: 0;

    // Other
    transition: background-color .5s ease-in-out;
    transition: top .5s ease-in-out;
    cursor: pointer;

    input {
        display: none;
    }

    // Make Default Button
    button {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30px;
        padding-bottom: 15px;
        font-size: .6em;
        font-weight: bolder;
        z-index: -1;
        // Style
        border: none;
        border-top: 2px solid black;
        text-align: center;
    }
    
    button:before {
        @include pseudo-element;
        @include striped-bg;
        z-index: -1;
        pointer-events: none;
    }
}

.locationRadioWrapper::before{
    // This element applies the overlay for the flag, to reduce it's opacity.
    @include pseudo-element;
    background-color: rgba($color: white, $alpha: 0.7);
    z-index: -2;
}

.locationRadioWrapper.checked {
    background-color: rgba($color: $color-clickable, $alpha: 1.0);
    top: 0%;
}

#locationInputDiv{
    // Grid and Layout
    position: relative;
    grid-row: input;
    display: flex;
    z-index: 5;
    justify-content: center;
    align-items: center;
    // Style
    text-align: center;
    background-color: rgba($color: $color-nav, $alpha: 1.0);

    input {
        border: 2px ridge $color-footer;
    }
}

#locationInputDiv::after {
    @include pseudo-element;
    @include striped-bg;
    z-index: -2;
}

#locationSearchType{
    grid-row: search-options;
    position: relative;
    display: flex;
    z-index: 5;
    justify-content: center;
    align-items: center;
    //Style
    background-color: rgba($color: $color-nav, $alpha: 1.0);
    
    input {
        display: none;
    }
    
    label {
        padding: 5px;
        margin: 0 5px;
        // Style
        border-radius: 10px;
        border: 2px ridge $color-footer;
        background-color: $color-sky;
        transition: background-color 0.5s ease-out;
        color: $color-dark;    
        //Other
        cursor: pointer;
    }

    input:checked ~ label {
        background-color: $color-sun;
    }
}

#locationSearchType::after {
    @include pseudo-element;
    @include striped-bg;
    z-index: -2;
}

// ANCHOR Main and Main Grid

#main__grid-daily {
    // Position
    transform: translate(-100vw, 0);
    transition: transform 1s ease-out;
    height: 100%;
    width: 75%;
    position: absolute;
    // Grid
    display: grid;
    grid-template-rows: [cityName] 1fr [date] 1fr [header] 3fr 1fr 2fr [end] 1fr;
    grid-template-columns: [start] 1fr 1fr 1fr 1fr 1fr [end];

    #weatherDate {
        // Style
        font-size: 3vw; // Magic number to fit in container
        text-align: center;
        // Grid
        grid-row: date;
        grid-column: 2 / span 3;
    }

    #weatherLocation {
        // Style
        font-size: 3em;
        // Position
        display: flex;
        text-align: center;
        justify-content: center;
        //Grid
        grid-row: cityName;
        grid-column: 2 / span 3;
    }

    #weatherTemperature {
        grid-row: header;
        grid-column: 2 / span 2;
        // Style
        display: flex;
        font-size: 15vw;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    #weatherIcon {
        align-self: center;
        width: 100%;
        grid-column: 4;
    }

    // Holds the secondary or extra info (humidity, wind speed, uvi) for daily
    .daily-extra {
        // Grid
        grid-row: 5;
        // Style
        font-size: 2vw;
        text-align: center;

        span {
            font-size: 3vw;
        }
    }

    #weatherHumidity {
        grid-column: 2;
    }

    #weatherWindSpeed {
        grid-column: 4;
    }

    #weatherUVI {
        grid-column: 3;
    }

    #uvslider {
        // Layout
        appearance: none;
        background-size: 100%;
        width: 100%;
        height: 20px;
        // Style
        background-image: url(./Assets/uv-index-visual.png);
        border: 2px inset $color-footer;
        border-radius: 10px;
        pointer-events: none;
    }

    #uvslider::-webkit-slider-thumb {
        appearance: none;
        height: 20px;
        width: 10%;
        border: 2px solid $color-footer;
        border-top: none;
        border-bottom: none;
        border-radius: 3px;
        left: 0;
    }

    button {
        grid-row: end;
        grid-column: 2 / span 3;
        // Style
        border-radius: 15px;
        font-size: 3vw;
        font-family: $font-alata;
        // Layout
        margin-bottom: 15px;
    }
}

#main__grid-weekly {
    // Grid
    position: absolute;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.5fr [day1] 1fr [day2] 1fr [day3] 1fr [day4] 1fr [day5] 1fr 0.5fr;
    // Position
    height: 100%;
    width: 90%;
    transform: translate(100vw, 0);
    transition: transform 1s ease-out;

    button {
        grid-row: 1;
        height: 30%;
        margin-right: 20%;
        align-self: center;
    }

    .grid-weeklyDay {
        // Style
        border-left: 1px dotted black;
        text-align: center;
        // Grid
        display: grid;
    }

    .weekly-date {
        font-size: 4vw;
    }

    .weekly-icon {

    }

    .weekly-temp {
        font-size: 4vw;
    }

    .weekly-humidity {
        font-size: 3.5vw;
    }

    #weeklyDay1 {
        grid-column: day1;
    }

    #weeklyDay2 {
        grid-column: day2;

    }

    #weeklyDay3 {
        grid-column: day3;

    }

    #weeklyDay4 {
        grid-column: day4;

    }

    #weeklyDay5 {
        grid-column: day5;

    }
}

#main__grid-weekly.main-active {
    transform:translate(0);
}

#main__grid-daily.main-active {
    transform:translate(0);
}

// ANCHOR Styling

h1 {
    font-size: 5vw;
    width: 100%;
    text-align: center;
}

// ANCHOR Keyframes

@keyframes button-confirm {
    0% {
        background-color: red;
    }

    100% {
        background-color: $color-clickable;
    }
}